<html>
{% extends "core/base.html" %}
{% block title %}
    <h1>Страница поста {{ post.pk }}</h1>
    <h2>{{ post.title }}</h2>
    <h3> by {{ post.author }}</h3>

    <h4><a href="{% url "blogs:blogsview" id=post.blog.id %}">Назад</a></h4>{% endblock %}
{% block content %}
    <p>{{ post.text }} </p>
    <h4><a href="{% url "blogs:editpost" id_2=post.blog.id pk=post.id %}">Править пост</a></h4>
    <h3> Комментарии</h3>
    {% for comment in post.comments.all %}
        <em>{{ forloop.counter }}. </em> {{ comment }}<p></p>
    {% endfor %}
    {#    <h3> Оставьте комментарий </h3>#}
    {#    <form action="" method="post">#}
    {#        {{ form }}#}
    {#        {% csrf_token %}#}
    {#        <input type="submit" value="Save">#}
    {#    </form>#}
    <h4><a href="{% url "blogs:editcomment" id_2=post.blog.id pk=post.id %}">Правка комментария</a></h4>

{% endblock %}
</html>